a {
    color: #4a4c70;
    transition: .3s;
    text-decoration: none;
}
#dropdown-nav{
    text-decoration: none !important; 
}

a:hover,
a:active,
a:focus {
    color: #FDBE33;
    outline: none;
    text-decoration: none;
}


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #222122;
    height: auto;
    margin: 0;
    padding: 0;
}

.social_icon {
    width: 100%;
    float: left;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
}

.social_icon li {
    float: left;
    padding-right: 15px;
    padding-top: 40px;
}

.footer_taital {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer_text {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #afafaf;
    margin: 5px 0px;
}

.footer_menu_main {
    width: 100%;
    float: left;
}

.footer_menu_left {
    width: 50%;
    float: left;
    text-align: left;
}

.footer_menu_right {
    width: 50%;
    float: left;
    text-align: right;
}

.footer_menu {
    width: 100%;
    float: left;
  
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
}

.footer_menu li {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 5px;
    position: relative;
}

.footer_menu li a {
    color: #afafaf;
}

.footer_menu li a:hover {
    color: #afafaf;
}

.footer_menu li.active::before,
.footer_menu li:hover::before {
    background-color: #ffffff;
}

.footer_menu li::before {
    width: 10px;
    height: 10px;
    content: "";
    background-color: #f64646;
    position: absolute;
    left: -20px;
    top: 27%;
    border-radius: 100%;
}

.address_text {
    width: 85%;
    float: left;
    font-size: 18px;
    color: #969595;
    padding: 5px 200px 5px 0px;
    border: 0px;
    background-color: transparent;
    height: 60px;
    margin-top: 20px;
    border-bottom: 1px solid #656465;
}

input.address_text::placeholder {
    color: #969595;
}

.get_bt {
    width: 40%;
    float: right;
    font-size: 18px;
    color: #f64646;
    background-color: transparent;
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px;
    position: relative;
    top: -56px;
    right: 5px;
    font-weight: bold;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #222122;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin-left: 0px;
    color: #fff;
    text-align: center;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #ff5333;
}


/* copyright section end */

.margin_top_90 {
    margin-top: 90px;
}

